/* 
- Creation Date: 08/05/2023
-Created by Sajith Aravindan
========================================================================================

/* Global Styling  */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family:  'Titillium Web', Arial, Helvetica, sans-serif; /* The First font family is from Google fonts*/
    margin: 0;
 
  }
  
  /* Header Section Styling */
  header {
    padding: 40px;
    text-align: center;
    background: #093b6a;
    color: #fff;
  }

  /* Styling for the Section LI that displays Stored cities */
  .btn-xl {
    padding: 5px 5px;
    margin: 10px 2px 10px 2px;
    font-size: 20px;
    border-radius: 10px;
    width:100%; 
    background-color: #6991E3;  
}

/* Buttons Styling */
#lstHistorybtn {
    align-items: flex-start;
    flex-wrap: wrap;    
}

/* Styling for the Section LI that displays Stored cities */
#lstHistorybtn li {    
    margin-bottom: 2vh;    
    min-width: 14vw;
    padding: 3px;
    background: #AEAEAE;
    color: #fff;
    border: 0;
    border-radius: 7px;  
    font-size: 130%;
    cursor: pointer;   
}

/* hover Styling for LI that displays Stored cities */
#lstHistorybtn li:hover {
    background:#198754; 
}